body {
    background-image: url(output-onlinepngtools.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  .bg {
    width: 40%;
    height: 150px;
    margin-left: 58%;
    margin-top: 20px;
    font-family: 'Geologica', sans-serif;
    font-size: 22px;
    text-align: justify;
  }
  
  h1 {
    margin-left: 55%;
    padding-top: 50px;
    text-align: center;
    font-size: 50px;
    margin-right: 80px;
  }
  
  .slide-in {
    animation: slideInFromLeft 1s ease;
    color: #580c1f;
  }
  
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-in2 {
    animation: slideInFromLeft2 1.5s ease;
  }
  
  @keyframes slideInFromLeft2 {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .icon {
    margin-left: 55%;
    margin-top: 230px;
    color: #580c1f;
    justify-content: space-between;
    margin-right: 80px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    padding-right: 150px;
  }
  
  .icon a {
    margin-right: 535px;
  }
  
  .icon-group {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
  
  .icon-group a {
    margin-right: 10px;
    color: #ffffff;
  }
  .ser {
    background-color: #f6fff8;
    margin-top: 100px;
  }
  
  .services {
    margin-top: 50px;
  }
  
  .additional-info {
    display: none;
  }
  
  .arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(135deg); /* Update initial rotation to upside down */
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .expanded .arrow {
    transform: rotate(-45deg); /* Update rotation to the right direction */
  }
  
  
  .expanded .additional-info {
    display: block;
  }

  
.expandable .additional-info {
  display: none;
}

.expandable.expanded .additional-info {
  display: block;
}
  p {
    background-color: #b5838d;
    padding: 105px 0;
    text-align: center;
    font-size: 3em;
    background-image: url(rupixen-com-KzUiI7ENbws-unsplash.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    margin-top: 0;
  }

  h2{
    margin-top: 0;
    text-align: center;
    font-size: 3em;
    color: #580c1f;
    text-decoration: underline;
  }
  
  .horizontal-list {
    padding: 0;
    justify-content: space-between;
    margin: 0 70px;
  }
  
  .horizontal-list li {
    margin-bottom: 20px;
    background-color: #e6e6e6;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 20px;
    color: #555555;
    align-items: center;
  }
  
  .services-heading {
    border: 1px solid black;
    
  }
  
  .form-container {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .form-container iframe {
    border: none;
    width: 100%;
    height: 500px;
    font-family: Arial, sans-serif;
  }
  /* MOBILE VIEW */
  @media (max-width: 477px) {
    body {
      background-image: url(bg7.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
  
    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
    }
  
    .bg {
      width: 40%;
      font-family: 'Geologica', sans-serif;
      font-size: 11px;
      margin-top: -130px;
    }
  
    h1 {
      width: 55%;
      text-align: center;
      font-size: 50px;
      padding-top: 0;
    }
  
    .color {
      color: #f9f7f3;
    }
  
    .color2 {
      color: #cce3de;
    }
  
    .icon {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        margin-top: 20px;
        color: #ffffff;
        margin-bottom: 30px;
        margin-left: 50px;
      }
      
      .icon-group {
        display: flex;
        margin-right: 35px;
        margin-bottom: 25px;
      }
      
      .icon-group a {
        margin-right: 10px;
        color: #ffffff;
      }

      .icon-group a svg {
        fill: #f9f7f3; /* Replace #ff0000 with your desired color */
      }
      
    .slide-in2 a{
        margin-right: 35px;
        color: #2f3e46;
    }
    .slide-in {
      animation: slideInFromLeftMobile 1.5s ease;
      color: #580c1f;
      float: right;
      margin-top: 120px;
      margin-bottom: 0;
      margin-left: -10px;
    }
  
    @keyframes slideInFromLeftMobile {
      0% {
        transform: translateX(-100%);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }
  
    .slide-in2 {
      animation: slideInFromLeft2Mobile 1.5s forwards;
      justify-content: flex-start;
    }
  
    @keyframes slideInFromLeft2Mobile {
      0% {
        transform: translateX(-100%);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
  /* LAPTOP VIEW */
  /* @media (max-width: 799px) {
    body{
        background-image: url(output-onlinepngtools.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    a{
        text-decoration: none;
        color: black;
    }
    
    .bg{
        width: 40%;
        height: 150px;
        margin-left: 58%;
        margin-top: 20px;
        font-family: 'Geologica', sans-serif;
        font-size: 22px;
        text-align: justify;
    }
    
    h1{
        margin-left: 55%;
        padding-top: 50px;
        text-align: center;
        font-size: 50px;
        margin-right: 80px;
    }
    
    .slide-in{
        animation: slideInFromLeft 1s ease;
        color: #580c1f;
      }
    
    @keyframes slideInFromLeft {
        0% {
          transform: translateX(-100%);
          opacity: 0;
    }
    
    100% {
          transform: translateX(0);
          opacity: 1;
    }
    }
    
    .slide-in2{
        animation: slideInFromLeft 1.5s ease;
      }
    
    @keyframes slideInFromLeft {
        0% {
          transform: translateX(-100%);
          opacity: 0;
    }
    
    100% {
          transform: translateX(0);
          opacity: 1;
    }
    }
    
    .icon{
        margin-left: 75%;
        margin-top: 230px;
        color: #580c1f;
        justify-content: space-between;
        margin-right: 10px;
        margin-bottom: 30px;
    }
    
    .icon a{
        margin-right: 35px;
      
    }
    
    .ser{
        background-color: #f6fff8;
        margin-top: 100px;
        
    }
    
    .services{
    
     margin-top: 50px;
     
    }
    
    h2{
        background-color: #b5838d;
        padding:75px 0;
        text-align: center;
        font-size: 3em;
        background-image: url(bg6.png);   
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .horizontal-list {
       list-style-type: none;
      padding: 0;
      display: flex; 
      flex-wrap: wrap; 
      justify-content: space-between;
      margin: 0 70px;
      }
       */
    /* .horizontal-list li {
        display: inline-block;
        margin-bottom: 20px;
        background-color: #e6e6e6;
        padding: 8px 12px;
        border-radius: 5px;
        font-size: 20px;
        color: #555555;
        align-items: center;
    }
     */
/*     
    .form-container {
        
        background-color: #f2f2f2;
        padding: 20px;
      } */
    
      /* .form-container iframe {
        border: none;
        width: 100%;
        height: 500px;
        font-family: Arial, sans-serif;
      } */



      @media (min-width: 799px) {
        .icon {
          margin-left: 75%;
          margin-top: 230px;
          color: #580c1f;
          justify-content: space-between;
          margin-right: 10px;
          margin-bottom: 30px;
        }
      
        .icon a {
          margin-right: 35px;
        }
      }